<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="kitri.finalShop" >
 	 	
 	<select id="prdlist" parameterType="String" resultType="prd">
 		select * from TB_PRODUCT 
 					<if test="category_no != null"> where category_no=#{category_no}</if>

 	</select>
 	
 	<select id="searchtoplist" resultType="prd">
 		select  
 			prd_no, prd_nm, IMG_GEN_FILE_NM
		from 
			(select 
				o.prd_no, p.prd_nm, p.IMG_GEN_FILE_NM, o.qty  
			from 
				tb_product p, (select prd_no,sum(qty) qty from TB_ORDER_PRODUCT group by prd_no) o   
			where 
				o.prd_no=p.prd_no 
			order by 
				o.qty desc)
		where 
		<![CDATA[
			rownum <=8
		]]>
 	</select>
 
 </mapper>